parameters:
    paths:
        - app

    level: max
    treatPhpDocTypesAsCertain: false

    type_coverage:
        param: 100
        return: 100
        property: 100

    tmpDir: storage/framework/cache/phpstan-app
